<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8"/>
    <title>Strona startowa</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<li><a th:href="${'/employees'}" href="employee">Lista pracowników</a> <br /></li>
<li><a th:href="${'/projects'}" href="project">Lista projektów</a> <br /></li>
<li><a th:href="${'/records'}" href="records">Ewidencja czasu pracy</a> <br /></li>
<li><a th:href="${'/statistics/all'}" href="statistics">Statystyki</a> <br /></li>
<li><a th:href="${'/login'}" href="login">Login</a> <br /></li>
</body>
</html>